@CHARSET "UTF-8";

/**index style***/
body{background-color: #e5e5e5;url("http://dw-resources.qiniudn.com/images/patterns/mooning.jpg"); }
.hero-unit{position: relative;background: url("../images/b.jpg");height:480px;background-size:cover;}/*cover: 保持图像本身的宽高比例，将图片缩放到正好完全覆盖定义背景的区域*/
.hero-unit h1{text-align: center;text-shadow: 1px 1px 10px black;}
.hero-unit img {max-width: 500px;-webkit-animation: title-in 1s ease-out 0 1 forwards;-webkit-transition: 500ms;-moz-transition: 500ms;transition: 500ms;}
.hero-unit img:hover {-webkit-transform: translateY(-5px) scale(1.05) rotate(2deg);-moz-transform: translateY(-5px) scale(1.05) rotate(2deg);transform: translateY(-5px) scale(1.05) rotate(2deg);}
.hero-unit .banner-link {position: absolute;right: 5px;	bottom: 8px;font: 200 12px/1.8 'Optima', 'Verdana', 'Microsoft Yahei', sans-serif;text-align: right;text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);}
.hero-unit .banner-link a {color: white;color: rgba(255, 255, 255, 0.9);-webkit-transition: 500ms;-moz-transition: 500ms;transition: 500ms;}
.hero-unit .banner-link a:hover {color: white;}

.no-radius{-webkit-border-radius: 0;-moz-border-radius: 0;	border-radius: 0;}
.panel{border-radius:6px;margin-bottom:15px; background: #FFF url("http://dw-resources.qiniudn.com/images/patterns/white_wall_hash.jpg");box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);-webkit-animation: panel-in 1s linear 0 1;}
.block-left{padding: 35px 10px 15px 45px}
.block-span-left{padding: 0px 10px 15px 15px}


.show_user_images_item{width: 40px;height: 40px; padding-right:5px;}
.show_reply_context{margin-left: 30px;}


