<link href="script/bootstrap/css/global.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="script/bootstrap/css/responsive.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="style/style.css" rel="stylesheet" type="text/css" media="screen">
<link href="style/bootstrap-input.css" rel="stylesheet" type="text/css" media="screen">

<script src="script/jquery/jquery.min.js"></script>
<script src="script/bootstrap/js/bootstrap.min.js"></script>
<script src="script/angular.min.js"></script>
<script src="script/script.js"></script>
